// Modal Confirm Styles

.modal-confirm {

    &__container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        color: #464646;
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        transform: translateY(-50%);
        
        @media( min-width: 767px ) {
            padding-left: 91px;
            padding-right: 60px;
        }
    }
    
    &__title {
        font-family: 'Prata', serif;
        font-size: 50px;
        line-height: 1.3;
        letter-spacing: 10px;
        
        @media( min-width: 767px ) {
            font-size: 65px;
            line-height: 1.307693;
            letter-spacing: 13px;
        }
    }

    &__dots {
        position: relative;
        z-index: 1;
        line-height: 0;
        margin-bottom: 20px;

        @media( min-width: 767px ) {
            margin-bottom: 10px;
        }
    }

    &__dots-line {
        display: inline-block;
        vertical-align: middle;
        background-color: #E9E9E9;
        width: 102px;
        height: 1px;
        margin-left: 5px;
        margin-right: 5px;
    }

    &__three-dot {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
    }

    &__dot {
        display: inline-block;
        background-color: #E9E9E9;
        border-radius: 100px;
        width: 10px;
        height: 10px;
        line-height: 0;
        vertical-align: middle;
        
        &--large {
            display: inline-block;
            background-color: #E9E9E9;
            border-radius: 100px;
            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__message {
        font-size: 14px;
        line-height: 2.142857;
        letter-spacing: 0.7px;
        
        @media( min-width: 767px ) {
            line-height: 2.5;
        }
    }

    &__cta {
        display: block;
        margin-top: 30px;
        
        @media( min-width: 767px ) {
            display: inline-block;
        }

        &__button {
            display: block;
            border: 1px solid #FD8C94;
            color: #FD8C94;
            font-size: 15px;
            line-height: 1;
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            text-decoration: none;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 11px;
            padding-right: 11px;
            transition: all 0.25s ease-in-out;
            
            @media( min-width: 767px ) {
                border: none;
                border-bottom: 3px solid #FD8C94;
                text-align: left;
                padding-top: 0;
                padding-bottom: 11px;
            }

            &:hover {
                color: #fff;
                background-color: #FD8C94;

                @media( min-width: 767px ) {
                    color: #FD8C94;
                    background: none;
                }
            }
        }
    }
}